# .env.example

# Server Configuration
PORT=8000
NODE_ENV=development

# Database Configuration
DATABASE_URL=mongodb+srv://<username>:<password>@<your-cluster-url>/<your-database-name>

# Client URL
CLIENT_URL=http://localhost:5173

# Email Sending Configuration
GOOGLE_CLIENT_ID=<your-google-client-id>
GOOGLE_CLIENT_SECRET=<your-google-client-secret>
GOOGLE_ACCESS_TOKEN=<your-google-access-token>
GOOGLE_REFRESH_TOKEN=<your-google-refresh-token>
SENDER_EMAIL=<your-sender-email>

# Google Login Configuration
GOOGLE_CLIENT_ID_BAUTH=<your-google-client-id>
GOOGLE_CLIENT_SECRET_BAUTH=<your-google-client-secret>
GOOGLE_CALLBACK_URL_BAUTH=http://localhost:8000/api/auth/google/callback

# Qstash Configuration
QSTASH_URL=<your-qstash-url>
QSTASH_TOKEN=<your-qstash-token>
QSTASH_CURRENT_SIGNING_KEY=<your-current-signing-key>
QSTASH_NEXT_SIGNING_KEY=<your-next-signing-key>

# Email API URL
EMAIL_API_URL=<your-email-api-url>

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=<your-cloudinary-cloud-name>
CLOUDINARY_API_KEY=<your-cloudinary-api-key>
CLOUDINARY_API_SECRET=<your-cloudinary-api-secret>

# Better Auth Configuration
BETTER_AUTH_SECRET=<your-better-auth-secret>
BETTER_AUTH_BASE_URL=http://localhost:8000